.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__main {
    display: flex;
    justify-content: center;
}

.content__intro-title {
    margin: auto;
    padding-top: 91px;
    max-width: 720px;
    width: 100%;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

.content__intro-subtitle {
    margin: auto;
    padding-top: 32px;
    max-width: 720px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.content__intro-image {
    margin: auto;
    max-width: 984px;
    width: 100%;
    padding-top: 64px;
}

.content__main-container {
    margin: auto;
    max-width: 830px;
    width: 100%;
}

.content__main-title {
    margin: 0;
    max-width: 830px;
    width: 100%;
    padding-top: 92px;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

.content__main-quote {
    margin: 0;
    padding-top: 40px;
    max-width: 738px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.content__main-author {
    margin: 0;
    padding-top: 10px;
    max-width: 732px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
}

.content__main-description {
    margin: 0;
    padding-top: 32px;
    max-width: 722px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (max-width:768px) {
.content__intro-title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
    padding-top: 90px;
}
        
.content__intro-subtitle {
    margin: 0;
    padding: 25px 24px 30px 24px;
    max-width: 720px;
    font-size: 30px;
    line-height: 36px;
}
        
.content__intro-image {
    width: 100%;
    margin: 0;
}

.content__main {
    max-width: 720px;
    width: 100%;
}

.content__main-container {
    max-width: 707px;
    width: 100%;
    padding: 90px 37px 0 24px;
    font-size: 45px;
    line-height: 49px;
}
    
.content__main-quote {
    padding: 50px 24px 0 24px;
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    }
    
.content__main-author {
    max-width: 720px;
    width: 100%;
    padding: 0 24px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
}
    
.content__main-descriptionn {
    max-width: 720px;
    width: 100%;
    padding: 32px 24px 0 24px;
    font-size: 16px;
    line-height: 26px;
}
}

@media screen and (max-width:320px) {
.content__intro-title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
    padding-top: 50px;
}
            
.content__intro-subtitle {
    padding: 16px;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
}
            
.content__intro-subtitle {
    width: 100%;
    margin: 0;
}

.content__main-container {
    max-width: 288px;
}

.content__main-title {
    max-width: 288px;
    padding: 64px 16px 0 16px;
    font-size: 32px;
    line-height: 35px;
}
        
.content__main-quote {
    padding: 40px 16px 0 16px;
    max-width: 288px;
    font-size: 24px;
    line-height: 30px;
}
        
.content__main-authorr {
    max-width: 288px;
    padding: 10px 16px 0 16px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
}
        
.content__main-description {
    max-width: 288px;
    padding: 32px 16px 0 16px;
    font-size: 16px;
    line-height: 26px;
}
}