.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.content__intro {
    display: flex;
    flex-direction: column;
    margin: 0;
} 

.content__intro-title {
    margin: auto;
    padding-top: 91px;
    max-width: 720px;
    width: 100%;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

.content__intro-subtitle {
    margin: auto;
    padding-top: 32px;
    max-width: 720px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.content__intro-image {
    display: block;
    margin: auto;
    max-width: 984px;
    width: 100%;
    padding-top: 64px;
}

.content__main {
    display: flex;
    max-width: 984px;
    width: 95%;
    margin: auto;
    box-sizing: border-box;
}

.content__main-container {
    max-width: 830px;
    width: 100%;
    padding-top: 92px;
    box-sizing: border-box;
}

.content__main-title {
    margin: auto;
    max-width: 830px;
    width: 100%;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    box-sizing: border-box;
}

.content__main-quote {
    box-sizing: border-box;
    margin: 0;
    padding-top: 40px;
    max-width: 738px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.content__main-author {
    margin: 0;
    padding-top: 10px;
    max-width: 732px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
}

.content__main-description {
    margin: 0;
    padding-top: 32px;
    max-width: 722px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (max-width:768px) {
.content{
    margin: 0;
}

.content__intro-title {
    max-width: 530px;
    width: 100%;
    font-size: 75px;
    line-height: 79px;
    padding-top: 90px;
}
        
.content__intro-subtitle {
    margin: auto;
    padding-top: 25px;
    max-width: 720px;
    font-size: 30px;
    line-height: 36px;
    box-sizing: border-box;
}
        
.content__intro-image {
    margin: 0;
    width: 100%;
    padding-top: 30px;
}

.content__main {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.content__main-container {
    max-width: 720px;
    width: 90%;
    padding-top: 90px;
    margin: 0;
}

.content__main-title {
    max-width: 707px;
    width: 100%;
    font-size: 45px;
    line-height: 49px;
    font-weight: 900;
}

.content__main-quote {
    padding-top: 50px;
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
}
    
.content__main-author {
    max-width: 720px;
    width: 100%;
    padding: 0;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
}
    
.content__main-descriptionn {
    padding-top: 32px;
    max-width: 720px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
}

@media screen and (max-width:320px) {
.content__intro-title {
    max-width: 228px;
    width: 90%;
    font-size: 40px;
    line-height: 44px;
}
            
.content__intro-subtitle {
    padding-top: 16px;
    max-width: 288px;
    width: 90%;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
}
            
.content__intro-image {
    width: 100%;
    margin: 0;
    padding-top: 40px;
}

.content__main {
    display: flex;
    flex-direction: column;
    margin: auto; 
}

.content__main-container {
    margin: 0 16px 0 16px;
    padding-top: 64px;
    max-width: 288px;
}

.content__main-title {
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    padding-top: 0;
}

.content__main-quote {
    padding-top: 50px;
    max-width: 288px;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}
 
.content__main-author {
    max-width: 288px;
    width: 100%;
    padding-top: 10px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
}
        
.content__main-description {
    max-width: 288px;
    width: 100%;
    padding-top: 32px;
    font-size: 16px;
    line-height: 26px;
}
}