.footer {
    display: flex;
    position: relative;
    flex-direction: column;
    position: relative;
    background-color: #2A2C2F;
}

.footer__copyright {
    display:flex;
    justify-content: center;
    width: 194px;
    height: 16px;
    margin: 92px 543px 24px 543px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}