.grid {
    margin: 0;
    padding: 0;
}

.grid__container {
    margin: 38px 16px 0 16px;
}

.grid__item {
    width: 100%;
    height: 100%;
    image-rendering: auto;
    padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
    .grid__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-top: 64px;
        padding: 0;
    }
}

@media screen and (min-width:1280px) {
    .grid__container {
        max-width: 1184px;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        padding-top: 118px;
        margin: auto;
    }

    .grid__item {
        width: 100%;
        image-rendering: auto;
        object-fit: cover;
    }
}