/*Contenedor para logo y título*/
.header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 34px;
    width: 254.84px;
    height: 68.94px;
}

.header__logo{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: auto;
}

.header__icon-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 254.84px;
    height: 14.94px;
    margin: auto;
}

@media screen and (min-width: 1280px) {
.header__container{
    display: flex;
    width: 100%;
    gap: 22px;
 }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    .header__container{
        display: flex;
        width: calc(100%-10px)
     }    
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .header__container{
        display: flex;
        width: calc(100%-30px)
     }    
}