.header {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 34px 512px 0 513px;
    width: 254.84px;
    height: 68.94px;
    opacity: 0px;
}

.gallery__logo{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 111.42px 22px 111.42px;
    opacity: 0px;
}

.gallery__icon-title{
    display: flex;
    justify-content: center;
    width: 254.84px;
    height: 14.94px;
    top: 54px;
    background-image: #FFFF;
}
