/*Contenedor para logo y título*/
.header {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.header__logo {
    margin: auto;
    padding-top: 34px;
    max-width: 32px;
    width: 100%;
}

.header__title {
    margin: auto;
    padding-top: 32px;
    max-width: 255px;
    width: 100%;
}

@media screen and (max-width:320px) {
.header__logo {
    max-width: 23px;
    width: 100%;
}
  
.header__title {
    max-width: 187px;
    width: 100%;
}
}