.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__lead {
    margin: auto;
    width: 984px;
    height: 983px;
    padding-top: 91.06px;
    font-family: "Inter";
    color: #FFFFFF;
    text-align: center;
}

.intro__main-title {
    margin: auto;
    width: 720px;
    height: 200px;
    padding-bottom: 32px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
}

.intro__main-subtitle {
    margin: auto;
    width: 720px;
    height: 72px;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.intro__main-image{
    width: 984px;
    height: 615px;
    padding-top: 64px;
}

.intro__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-evenly;
    margin: 92px 302px 92px 148px;
    width: 830px;
    height: 607px;
}

.intro__title {
    width: 830px;
    height: 173.92;
    margin: 0;
    font-family: "Inter";
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: justify;
}

.initial__quote {
    width: 738px;
    height: 135.66px;
    margin: 39.98px 0 0 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.author__quote {
    width: 732px;
    height: 33.91;
    margin: 10px 0 0 0;
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: right;
}

.initial__description {
    width: 722px;
    height: 181.54px;
    margin: 65.9px 0 0 0;
    font-family: "Inter";
    font-weight: 400px;
    font-size: 16px;
    line-height: 26.08px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__lead {
        margin: auto;
        width: 720px;
        height: 255px;
    }
    
    .intro__main-title {
        margin: auto;
        width: 530px;
        height: 158px;
        padding-top: 90px;
    }
    
    .intro__main-subtitle {
        padding-top: 30px;
    }

    .intro__main-image{
        width: 768px;
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .intro__lead {
        margin: auto;
        width: 288px;
        height: 144px;
    }
    
    .intro__main-title {
        margin: auto;
        width: 288px;
        height: 88px;
        padding-top: 50px;
        font-size: 40px;
        line-height: 44px;
    }

    .intro__main-subtitle {
        margin: auto;
        width: 288px;
        height: 40px;
        padding-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }

    .intro__main-image{
        width: 320px;
        height: 200px;
        padding-top: 40px;
    }
}