.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__title {
    margin: auto;
    padding-top: 91px;
    max-width: 720px;
    width: 100%;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

.main__subtitle {
    margin: auto;
    padding-top: 32px;
    max-width: 720px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.main__image {
    margin: auto;
    max-width: 984px;
    width: 100%;
    padding-top: 64px;
}

.main__intro-container {
    margin:auto;
    max-width: 984px;
    width: 100%;
    padding-top: 92px;
    align-items: flex-start;
}

.main__intro-title {
    margin: 0;
    max-width: 830px;
    width: 100%;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

.main__intro-quote {
    margin: 0;
    padding-top: 40px;
    max-width: 738px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.main__quote-author {
    max-width: 732px;
    width: 100%;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
}

.main__intro-description {
    max-width: 722px;
    width: 100%;
    margin: 0;
    padding-top: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (max-width:1280px) {
.main__title {
    width: 100%;
}
            
.main__image {
    width: 100%;
}
}

@media screen and (max-width:768px) {
.main__title {
    width: 90%;
    font-size: 0.9rem;
    line-height: 79px;
}
        
.main__image {
    max-width: 768px;
    margin: 0;
}
}
    
@media screen and (max-width:320px) {
.main__title {
    width: 80%;
    font-size: 40px;
    line-height: 44px;
}

.main__subtitle {
    width: 80%;
    font-size: 16px;
    line-height: 20px;
}
.main__image {
    max-width: 320px;
}
}