.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__title {
    margin: auto;
    padding-top: 91px;
    max-width: 720px;
    width: 100%;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

.main__subtitle {
    margin: auto;
    padding-top: 32px;
    max-width: 720px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.main__image {
    margin: auto;
    max-width: 984px;
    width: 100%;
    padding-top: 64px;
}

.main__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 830px;
    width: 100%;
}

.main__intro-title {
    margin: 0;
    max-width: 830px;
    width: 100%;
    padding-top: 92px;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

.main__intro-quote {
    margin: 0;
    padding-top: 40px;
    max-width: 738px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.main__quote-author {
    margin: 0;
    padding-top: 10px;
    max-width: 732px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
}

.main__intro-description {
    margin: 0;
    padding-top: 32px;
    max-width: 722px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (max-width:768px) {
.main__title {
    width: calc(100%-190px);
    font-size: 75px;
    line-height: 79px;
    padding-top: 90px;
}
    
.main__subtitle {
    margin: 0;
    padding: 25px 24px 30px 24px;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
}
    
.main__image {
    width: 100%;
    margin: 0;
}

.main__container {
    max-width: 720px;
    width: 100%;
}

.main__intro-title {
    max-width: 707px;
    width: 100%;
    padding: 90px 37px 0 24px;
    font-size: 45px;
    line-height: 49px;
}
    
.main__intro-quote {
    padding: 50px 24px 0 24px;
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    }
    
.main__quote-author {
    max-width: 720px;
    width: 100%;
    padding: 0 24px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
}
    
.main__intro-description {
    max-width: 720px;
    width: 100%;
    padding: 32px 24px 0 24px;
    font-size: 16px;
    line-height: 26px;
}
}
    
@media screen and (max-width:320px) {
.main__title {
    max-width: 228px;
    width: 100%;
    font-size: 40px;
    line-height: 44px;
    padding-top: 50px;
}
        
.main__subtitle {
    padding: 16px;
    max-width: 288px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}
        
.main__image {
    width: 100%;
    margin: 0;
}

.main__container {
    max-width: 288px;
    width: 100%;
}

.main__intro-title {
    max-width: 288px;
    width: 100%;
    padding: 64px 16px 0 16px;
    font-size: 32px;
    line-height: 35px;
}
        
.main__intro-quote {
    padding: 40px 16px 0 16px;
    max-width: 288px;
    width: 100%;
    font-size: 24px;
    line-height: 30x;
    }
        
.main__quote-author {
    max-width: 288px;
    width: 100%;
    padding: 10px 16px 0 16px;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
}
        
.main__intro-description {
    max-width: 288px;
    width: 100%;
    padding: 32px 16px 0 16px;
    font-size: 16px;
    line-height: 26px;
}
}