.body {
    max-width: 1600px;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: "Inter";
}

.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #2A2C2F;
}