.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 62px;
    margin: 0;
}

.places__title {
    width: 95%;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: auto;
}
    
.places__subtitle {
    margin: auto;
    padding-top: 30px;
    width: 95%;
}
    
.places__subtitle-artist {
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}
    
.places__subtitle-names {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.places__photo {
    width: 100%;
    margin-top: 30px;
    image-rendering: auto;
}

.places__photo:hover {
    opacity: 50%;
}

.places__texts {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: auto;
    padding-top: 30px;
    width: 95%;
}

.places__texts-initialtext {
    margin: 0;
}
    
.places__texts-lasttext {
    padding-top: 25px;
    margin: 0;
}

.places__button {
    grid-area: button;
    width: 95%;
    height: 48px;
    border-radius: 4px;
    border: none;
    margin: 48px auto;
    background: linear-gradient(90deg, rgb(2, 120, 254) 0%, rgb(0, 58, 123) 99.98%);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.places__button:hover {
    background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (min-width:768px) {
.places {
    display: grid;
    justify-content: center;
    max-width: 95%;
    padding-top: 88px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    margin: auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "title subtitle"
    "photo texts"
    "button texts"
;
}

.places__title {
    grid-area: title;
    width: 100%;
    font-weight: 900;
    font-size: 50px;
    line-height: 46px;
    margin: 0;
    padding-top: 10px;
}
    
.places__subtitle {
    grid-area: subtitle;
    margin: 0;
    padding: 0;
}
    
.places__subtitle-artist {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
}
    
.places__subtitle-names {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}

.places__photo {
    grid-area: photo;
    width: 100%;
    gap: 0;
    margin-top: 48px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.places__texts {
    grid-area: texts;
    width: 100%;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    margin-top: 48px;
    padding: 0;
}

.places__texts-initialtext {
    grid-area: initialtext;
    margin: 0;
}
    
.places__texts-lasttext {
    grid-area: lasttext;
    padding-top: 25px;
    margin: 0;
}

.places__button {
    grid-area: button;
    width: 85%;
    margin-top: 48px;
    margin-left: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    
}
}

@media screen and (min-width: 1280px) {
.places {
    max-width: 63%;
    padding-top: 92px;
    column-gap: 40px;
}
    
.places__title {
    font-size: 72px;
    line-height: 76px;
}
        
.places__subtitle {
   padding-top: 85px;
}

.places__photo {
    margin-top: 48px;   
}

.places__button {
    width: 60%;
}
}